@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-app: #F8FAFD;
  --bg-surface: #ffffff;
  --text-primary: #111827;
  --text-secondary: #6b7280;
  --border: #e5e7eb;
}

.dark {
  --bg-app: #111827;
  --bg-surface: #1f2937;
  --text-primary: #f9fafb;
  --text-secondary: #9ca3af;
  --border: #374151;
}

body {
  background-color: var(--bg-app);
  color: var(--text-primary);
}

